@import '../../assets/scss/shared.scss';
$heading: green;

//h1 heading color
h1 {
  color: $heading;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;

  justify-content: center;
  height: 100%;
  align-items: stretch;


  flex-direction: row;
  div {
    width: rem(720);

  }

  .login-div {
    background-color:#172439;
    height: 52em;
  }

  .section_one{
    height: 52em;
    background-size: cover;
  }
}

.content {
  align-items: center;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: rem(340);
  height: rem(790);
  padding: rem(20);
  font-size: rem(25);

  div {
    margin-top: 3em;
    width: rem(670);
    text-align: center;
  }
}

.social_icons {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;

   div {
    background-color: #f1f1f1;
    margin: rem(10);
    padding: rem(20);
    width: rem(10);
    height: rem(10);
    font-size: rem(30);
   }
}

.login_signup_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

@media (max-width: 576px) {
   .flex-container {
     display: flex;
     flex-direction: column;
     div {
       background-color: #f1f1f1;
       width: rem(340);
       height: rem(295);
       border: rem(2) solid red; }
   }

}

.navbar_container {
    display: flex;
    background-color: #172439;

    div  {
      background-color: red;
      padding: rem(10);
      margin: rem(10);
    }
}

.menu-container {
  background-color: #172439;
  padding: rem(20) 0;
  display: flex;

  .menu {
    border: rem(1) solid #fff;  /* For debugging */
    width: rem(900);
  }
}

// navbar css

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.nav{
  background: #172439;
  color: white;
  height: rem(106);
  font-family: sans-serif;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  border-bottom: rem(1) solid gray;

  .nav-logo {
    width: 20%;
    // background-color: red;
    padding: 16px 40px;
    text-align: center;

    img {
      height: rem(70);
      width: rem(150);
    }
  }
  .nav-menu {
    width: 80%;
  }
  .nav-menu {
    ul {
      display: flex;
      justify-content: flex-end;
    }
  }
  .nav-menu {
    ul {
      li {
        padding: rem(10) rem(20);
        color:#ccc;
        font-size: rem(20);
        list-style-type: none;
        cursor: pointer; 
      }
    }
  }
  .nav-menu {
    ul {
      li:hover {
        color:#fff;
        font-weight: bold;
      }
    }
  }
  .nav-menu {
    ul {
      li{
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .nav-menu {
    ul {
      li {
        form {
          input {
            outline: 0;
            border-width: 0 0 2px;
            border-color: #fff;
            width: rem(200);
            height: rem(30);
            background-color: #172439;
            color:#fff;
            font-size: rem(16);
          }
        }
      }
    }
  }
}
// change searchbox color to white
::placeholder { 
  color:#fff;
  opacity: 1; 
}

// Changing the width and height of an image in the landing page 
.LandingImage {
  height: rem(400);
  width: 100%;
}

.wrapper {
  display: grid;
  min-height: rem(100);
  grid-template-columns: 2fr 1fr;
  padding-top: rem(30);
  margin-left: rem(120);
  margin-right: rem(120);
  grid-column-gap: 3em;
  grid-auto-rows:minmax(rem(100), auto);

  div {
      .sample-articles {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 9em;
    grid-gap: 1em;
  
    .article-image {
      img {
        height: rem(140);
        width: rem(214);
      }
   }
    .sample_article_start {
      color:  #6A6A6A;
      text-align: justify;
    }
    
  }

  }
  div {
    // border: 1px solid red;

    h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: rem(25);
      line-height: 117%;
      text-align: center;
      letter-spacing: 0.03em;
      color: #7C7B7B;
    }

    h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: rem(20);
        letter-spacing: 0.03em;
        color: #000000;
        text-align: justify;
    }
    .author_name {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: rem(18);
      letter-spacing: 0.03em;
      text-align: justify;
      color: #000000;
    }
    h6 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: rem(16);
      line-height: 117%;
      letter-spacing: 0.03em;
      text-align: justify;
      color: #6A6A6A;
    }
  }
}

.trending {
  display: grid;
  grid-template-columns:80% 10%;
  grid-auto-rows: 4em;
  padding-left: rem(10);

  div {

    img{
      height: rem(20);
      width: rem(20);
    }
  }
}

.book-mark-holder {
   text-align: center;
   vertical-align: middle;
   line-height: rem(100);
}



.small-screen {
  display: none;
}


@media screen and (max-width:576px) {

   .wrapper {
        display: grid;
        grid-template-rows: 60% 50%;
        padding-top: rem(30);
        margin-left: rem(40);
        margin-right: rem(40);
        grid-column-gap: 3em;
        grid-auto-rows: minmax(rem(100), auto);
        grid-template-columns: none !important;

      div {
        .sample-articles {
          padding-top:rem(10);
          display: grid !important;
          grid-template-rows: 50% !important;
          grid-auto-columns: minmax(rem(300px), auto);
          grid-template-columns: none !important;

          .article-image img {
            height: rem(180);
            width: rem(285);
           }
           .trending-articles {
             h4 {
               text-align: none !important;
             }
             h6 {
               line-height: 2em;
             }
           }
      }

      .trending {
        display: grid;
        grid-template-columns: 80% 10%;
        grid-auto-rows: 6em;
        padding-left: 0px !important;
        justify-content: center;
      }

     }
      
   }
   .small-screen {
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-auto-rows: 4em;

     div {
       text-align: center;
       padding-top: rem(20);
     
       a {
         text-decoration: none;
         font-style: bold;
         color: #000;
       }

       form {
        input {
          outline: 0;
          border-width: 0 0 rem(2);
          border-color: #fff;
          width: rem(200);
          height: rem(30);
          background-color: #172439;
          color:#fff;
          font-size: rem(16);
        }
      }
     
     }
    
   }

   .nav {
     height: auto;

     .nav-logo {
       padding-top: rem(70);
       height:rem(200);
       width:100%;
    
     }
     .nav-menu {
       ul {
        width: 100%;
        justify-content: space-around;
       }
     }
   }
   .nav {
     .nav-menu {
       ul{
         li {
           display: none;
           width: 20%;
           padding: rem(10) rem(5);
           text-align: center;
           font-size: rem(16);
         }
       }
     }
   }
   .nav {
    .nav-menu {
      width: 100%;
    }
  }

  .page-banner-image {
    display: none;
  }
  
 
}

