@import '../../assets/scss/shared.scss';

body {
  text-align: center;
}
.password_reset {
    margin-top: 0 !important;
  }
  
  .customise_model {
    margin-top:rem(200px);
    border-radius: 0 rem;
    background-color: #e9ecef;
    width: auto;
  }
   .custom-dialog {
     padding-top: 160px;
  }
  .form_label  {
    font-weight: bold;
    font-size: rem(15px);
    color: #6d7073;
    text-align: left;
  }
  
  .modal-title {
    color: #172439;
  }

  h5 {
    color:#172439;
    text-align: center;
  }
  .paragraph-infor {
    color:#172439;
    text-align: center;
  }
  .send-button {
    background-color: #172439;
    border: none;
  }
  .send-button:hover {
    background-color: #172439;
  }
  .modal-dialog{
    max-width: rem(600px);
  }
  .form-control{
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: .1rem;
    

  }
  button{
    border-radius: 0 rem;
  }
  .form-password{
    width: rem(400px);
  }
  .btn{
    border:0 rem;
  }
  