@import '../../assets/scss/shared.scss';

.progressBar {
    position: relative;
    height: rem(3);
    margin-bottom: rem(10);
    width: rem(150);
    border-radius: rem(50);
    border: rem(1) solid #172439;
}

.filler {
    background-color: #172439;
    height: 100%;
    border-radius: inherit;
    transition: width .2 ease-in;
}
